<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<link rel="Shortcut Icon"  href="img/WebShell.ico"/>  
	<link rel="Stylesheet" href="css/jquery-ui/jquery.ui.all.css"/>
	<script src="js/jquery-1.4.2.min.js" language="javascript" type="text/javascript"></script>
	<script src="js/jquery-ui/jquery.ui.core.js" language="javascript" type="text/javascript"></script>
	<script src="js/jquery-ui/jquery.ui.widget.js" language="javascript" type="text/javascript"></script>
	<script src="js/jquery-ui/jquery.ui.datepicker.js" language="javascript" type="text/javascript"></script>
	<script src="js/jquery-ui/jquery.ui.button.js" language="javascript" type="text/javascript"></script>
	<script src="js/jquery.validate.js" language="javascript" type="text/javascript"></script>

			<script type="text/javascript">
			    $(function () {
			        $("button, input:submit, a", ".btn").button();

			        
			    });
	</script>
	<title>{% block title %}{% endblock %}</title>
</head>
<body>
{% include 'html/header.htm' %}

<div style="padding-left:10%;padding-right:10%;">
{% block content %}{% endblock %}
</div>

{% block footer %}{% endblock %}
{% include 'html/footer.htm' %}
</body>
</html>