{% extends "base.htm" %}

{% block title %}Web Notes{% endblock %}
{% block content %}
<br></br>
<p style="color:#004276; text-align:center">
<font size="70" style="color:#CC0404" >
Web
</font>
<font size="70" >
Note
</font>
</p>
<br></br>
<div style="padding-left:10%;padding-right:10%">
<form method="post" action="">
<div class="btn" style="text-align:center;height:150px;text-align:center; padding:0;">
<span>
<input type="text" name="query" style="width:30%;border-style:groove;border-color:#D8D8D8;height:23px;" />
</span>
<span>
<input name="search" value="Search" type="submit" style="font-size:10pt;"/>
</span>
</div>
</form>
</div>



{% endblock %}
{% block footer %}{% endblock %}

